services:
  restaurants:
    build:
      context: .
      dockerfile: ./apps/restaurants/Dockerfile
      target: development
    command: pnpm run start:dev restaurants
    env_file:
      - ./apps/restaurants/.env
    ports:
      - '3000:3000'
    volumes:
      - .:/usr/src/app
  auth:
    build:
      context: .
      dockerfile: ./apps/auth/Dockerfile
      target: development
    command: pnpm run start:dev auth
    env_file:
      - ./apps/auth/.env
    ports:
      - '3001:3001'
    volumes:
      - .:/usr/src/app
  orders:
    build:
      context: .
      dockerfile: ./apps/orders/Dockerfile
      target: development
    command: pnpm run start:dev orders
    env_file:
      - ./apps/orders/.env
    ports:
      - '3002:3002'
    volumes:
      - .:/usr/src/app
  postgres:
    image: postgres
    env_file:
      - .env
    ports:
      - '5432:5432'
  rabbitmq:
    image: rabbitmq
    ports:
      - '5672:5672'